html{}
@media (min-width:48em){html{}
}
@media (min-width:58em){html{}
}
.sidebar{text-align:center;padding: 4.5rem 1rem;/* color:rgba(255,255,255,.5); *//* background-color:#29323D; *//* border-right:3px solid #14191F; */}
@media (min-width:48em){.sidebar{position:fixed;top:0;left:0;bottom:0;width:18rem;text-align:left;}
}
.sidebar a{color: #485463;}
.sidebar-about h1 a:hover{color:#136ce1}
.sidebar-about h1 a{text-decoration:none;}
.sidebar-about h1{font-weight: bold;line-height: 1em;margin: 0;}
.sidebar-nav{margin-bottom:1rem;margin-left: -2rem;border: 2px solid rgba(0, 0, 0, 0.01);border-right: none;border-left: none;padding-left: 2.2rem;background: #dddddd;  background: -moz-linear-gradient(left,  #dddddd 0%, #eeeeee 18%, #ffffff 100%);  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dddddd), color-stop(18%,#eeeeee), color-stop(100%,#ffffff));  background: -webkit-linear-gradient(left,  #dddddd 0%,#eeeeee 18%,#ffffff 100%);  background: -o-linear-gradient(left,  #dddddd 0%,#eeeeee 18%,#ffffff 100%);  background: -ms-linear-gradient(left,  #dddddd 0%,#eeeeee 18%,#ffffff 100%);  background: linear-gradient(to right,  #dddddd 0%,#eeeeee 18%,#ffffff 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=1 );}
.sidebar-nav-item{display:block;line-height:1.75;}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus{text-decoration:underline;}
.sidebar-nav-item.active{font-weight:bold;}
.content{padding-top:4rem;padding-bottom:4rem;}
@media (min-width:48em){.content{max-width:38rem;margin-left:20rem;margin-right:2rem;}
}
@media (min-width:64em){.content{margin-left:22rem;margin-right:4rem;}
}
@media (min-width:48em){.layout-reverse .sidebar{left:auto;right:0;}
.layout-reverse .content{margin-left:2rem;margin-right:20rem;}
}
@media (min-width:64em){.layout-reverse .content{margin-left:4rem;margin-right:22rem;}
}
.theme-base-08 .sidebar{background-color:#ac4142;}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover{color:#ac4142;}
.theme-base-09 .sidebar{background-color:#d28445;}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover{color:#d28445;}
.theme-base-0a .sidebar{background-color:#f4bf75;}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover{color:#f4bf75;}
.theme-base-0b .sidebar{background-color:#90a959;}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover{color:#90a959;}
.theme-base-0c .sidebar{background-color:#75b5aa;}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover{color:#75b5aa;}
.theme-base-0d .sidebar{background-color:#6a9fb5;}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover{color:#6a9fb5;}
.theme-base-0e .sidebar{background-color:#aa759f;}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover{color:#aa759f;}
.theme-base-0f .sidebar{background-color:#8f5536;}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover{color:#8f5536;}
